.center {
    text-align: center;
    padding-bottom: 30px;
}

#button1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 30px;
    font-family: var(--poppins);
    font-size: 15px;
    padding-right: 50px;
    z-index: 7;
    background: linear-gradient(#A77DE2, #d2a9e6);
}

.color {
    background-color: #0A0A0B;
    padding-bottom: 100px;
}

.color2 {
    background-color: #16151A;
    text-align: center;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 150px;
}



.HeroH1 {
    font-size: 95px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.5px;
    color: #FFFFFF;
    font-family: var(--poppins);
    padding-bottom: 20px;
}

.FirstSpan {
    background: linear-gradient(#7f52be, #cca6df);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    #HeroH1 {
        font-size: 40px;
        font-weight: 600;
    }
}

@media (max-width: 767px) {
    #HeroP {
        font-size: 18px;

    }
}

@media (max-width: 767px) {
    #pHero {
        display: none;
    }
}


@media (max-width: 767px) {
    #color2 {
        padding-bottom: 50px;

    }
}


.HeroP {
    color: #A29FB1;
    padding-bottom: 30px;
    font-family: var(--Open);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.Flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-family: var(--Open);
    color: #818085;
}

.Flex2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #818085;
    padding-top: 50px;
}

#button2 {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(#5d24ae, #c496db);
    padding-bottom: 10px;
    border-radius: 30px;
}

.Padiing {
    padding-top: 10px;
    color: #A9A8AD;
    font-family: var(--Open);
}

#nesto {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #8aacf7;
    cursor: pointer;
    font-family: var(--poppins);
    letter-spacing: 1px;
}



.pHero {
    color: #b9b9bc;
}