.color {
    background-color: #0A0A0B;
    padding-bottom: 100px;
    text-align: center;
}

.WhatP {
    color: #7653E7;
    letter-spacing: .64px;
    text-transform: uppercase;
    font-family: var(--Open);
    font-size: 14px;
    font-weight: 500;
    line-height: 125%;
}

.padding {
    padding-top: 50px;
}

.WhatH3 {
    font-size: 72px;
    letter-spacing: -1.5px;
    font-weight: 500;
    line-height: 110%;
    font-family: var(--poppins);
}

@media (max-width: 767px) {
    #WhatH3 {
        font-size: 40px;

    }
}


.WhatText {
    padding-top: 20px;
    font-family: var(--Open);
    color: #979799;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.padding2 {
    padding-top: 30px;
}

.padding3 {
    padding-top: 10px;
    background-color: #17171B;
    border-radius: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.wid2 {
    width: 40%;
}

.BenefitsH3 {
    font-family: var(--poppins);
    padding-top: 20px;
    font-weight: 600;
    color: #F0EEF3;
    padding-bottom: 10px;
    letter-spacing: -1.5px;
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 110%;
}


.bennesto {
    color: #979799;
    font-family: var(--Open);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}