.color {
    background-color: #0A0A0B;
    padding-bottom: 100px;
}

.TextP {
    width: 70%;
    font-family: var(--poppins);
    font-size: 35px;
    color: #F0EEF3;
}

@media (max-width: 767px) {
    #TextP {
        width: 100%;
        font-size: 25px;
    }
}

.color2 {
    color: #FBDE73;
}

.H2Design {
    padding-bottom: 10px;
}