.color {
    background-color: #0A0A0B;
    padding-bottom: 100px;
    text-align: center;
}

.WhatP {
    background: linear-gradient(#7f52be, #cca6df);
    -webkit-background-clip: text;
    font-family: var(--Open);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.padding {
    padding-top: 50px;
}

.WhatH3 {
    font-size: 70px;
    font-family: var(--poppins);
}

@media (max-width: 767px) {
    #WhatH3 {
        font-size: 40px;

    }
}


.WhatText {
    padding-top: 20px;
    font-family: var(--Open);
    font-size: 18px;
    color: #979799;
    padding-bottom: 100px;
}

.right {
    text-align: left;
    padding-top: 30px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.padding {
    padding-top: 20px;
}

.img2 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding-top: 100px;
}

.WhatP2 {
    background: linear-gradient(#7f52be, #cca6df);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    padding-top: 100px;
}


#paddingDiv {
    padding-top: 30px;
    padding-bottom: 40px;
}

@media (max-width: 767px) {
    #paddingDiv {

        padding-top: 10px;
        padding-bottom: 10px;
    }
}